<p style="font-size:13px; padding:20px; background-color:#EEE">
<% @result.each do |r| %>
  <span>User id: <%= r.user_id_result %></span>
  <span>| Last post: <%= r.last_post %></span>
  <span>| Periodicity: <%= r.periodicity %></span>
  <span>| Category id: <%= r.category_id %></span>
  <span>| Content id: <%= r.id %></span>
  <span>| Title: <%= r.title %></span>
  </br>
<% end %>
</p>