<%= form_for (@forum) do |f| %>
  <div class="form-group">
    <%= f.label :topic, 'Tema de Conversación', class: 'control-label' %>
    <%= f.text_field :topic, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Descripción de la Noticia', class: 'control-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :opinion, 'Opinión del Editor', class: 'control-label' %>
    <%= f.cktext_area :opinion, ckeditor: {:language => 'es'} %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="center-align">
    <%= f.submit '¡Listo!', class: 'btn btn-default btn-lg' %>
  </div>
<% end %>