<div class="dark-container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h2><%= @content.title %></h2>
      <div class="well well-lg">
        <%= "#{@content.body}".html_safe %>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      <h3><%= @forum.name %></h3>
      <p>
        <%= @forum.description %>
      </p>
      <div class="forum-comments">
        <% @forum.comments.order(:updated_at).each do |comment|%>
          <div class="well" data-filter="<%= comment.id %>">
            <strong><%= comment.user.full_name %></strong> dijo:
            <% if current_user.id == comment.user_id %>
              <a class="edit-comment fa fa-pencil-square-o pull-right"></a>
            <% end %>
            <br>
            <p class="comment-content"><%= comment.content %></p>
            <%= comment.created_at.to_formatted_s(:db) %>
          </div>
        <% end %>
      </div>

      <%= render "comments/form" %>
    </div>
  </div>
</div>
