<%= form_for @content, builder: BetterForms do |f| %>
  <div class="row">
    <div class="form-group col-md-6 col-xs-12">
      <%= f.label :title, 'Título', class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.errors :title %>
    </div>

    <div class="form-group col-md-6 col-xs-12">
      <%= f.label :category_id, 'Categoría', class: 'control-label' %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
      <%= f.errors :category_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, 'Contenido', class: 'control-label' %>
    <%= f.cktext_area :body, ckeditor: {:language => 'es'} %>
    <%= f.errors :body %>
  </div>

  <div class="center-align">
    <%= f.submit '¡Listo!', class: 'btn btn-success btn-lg' %>
  </div>
<% end%>
