<div class="dark-container">
  <h1>Noticias por autorizar</h1>

  <%= render 'shared/search_bar' %>

  <% if @contents.any? %>
    <table id="table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-xs-4">
            Nombre
          </th>
          <th class="col-xs-4">
            Categoría
          </th>
          <th class="col-xs-4">
            Acciones
          </th>
        </tr>
      </thead>

      <% @contents.each do |content| %>
        <tr>
          <td>
            <%= link_to content.title, content_path(content) %>
          </td>
          <td>
            <%= content.category_name %>
          </td>
          <td class="text-center">
            <%= link_to raw('<i class="fa fa-check-circle"></i> Autorizar'),
                        content_auth_status_path(content, status: 'authorized'),
                        method: :put,
                        class: 'btn btn-success btn-xs' %>
            <%= link_to raw('<i class="fa fa-times-circle"></i> Rechazar'),
                        content_auth_status_path(content, status: 'rejected'),
                        method: :put,
                        class: 'btn btn-danger btn-xs' %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
