<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#navbar-colapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to raw("<i class='fa fa-star'></i> ParticipApp"),
                  root_path,
                  class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-colapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <% unless user_signed_in? %>
          <li>
            <a data-target="#sign-in" data-toggle="modal"
                    class="btn btn-default">
              <i class="fa fa-sign-in"></i> Ingresar
            </a>
          </li>
          <li>
            <a data-target="#sign-up" data-toggle="modal"
                    class="btn btn-default">
              Crear Cuenta
            </a>
          </li>
        <% else %>
          <% if current_user.admin? || current_user.editor? %>
            <li>
              <div class="dropdown">
                <button id="settings-dropdown"
                        class="btn btn-default btn-lg dropdown-toggle"
                        type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="true">
                  <i class="fa fa-cog"></i>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="settings">
                  <% if current_user.admin? %>
                    <li>
                      <%= link_to raw("<i class='fa fa-users'></i> Usuarios"),
                          users_path,
                          method: :get %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to raw("<i class='fa fa-sitemap'></i> Categorías"),
                                categories_path,
                                method: :get %>
                  </li>
                  <li>
                    <%= link_to raw("<i class='fa fa-check-circle'></i> Autorizar"),
                                pending_authorization_path,
                                method: :get %>
                  </li>
                </ul>
              </div>
            </li>
          <% end %>
          <li>
            <div class="dropdown">
              <button id="user-dropdown"
                      class="btn btn-default btn-lg dropdown-toggle"
                      type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="true">
                <i class="fa fa-newspaper-o"></i> Noticias
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="news">
                <li>
                  <%= link_to raw("<i class='fa fa-pencil'></i> Escribir una"),
                              new_content_path,
                              method: :get %>
                </li>
                <li>
                  <%= link_to raw("<i class='fa fa-list-alt'></i> Ver todas"),
                              contents_path,
                              method: :get %>
                </li>
                <li>
                  <%= link_to raw("<i class='fa fa-comments'></i> Foro"),
                      forums_path,
                      method: :get %>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button id="user-dropdown"
                      class="btn btn-default btn-lg dropdown-toggle"
                      type="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="true">
                <i class="fa fa-user"></i> <%= current_user.first_name %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="user">
                <li>
                  <%= link_to raw("<i class='fa fa-cogs'></i> Editar perfil"),
                              edit_user_registration_path %>
                </li>
                <li>
                  <%= link_to raw("<i class='fa fa-sign-out'></i> Cerrar Sesión"),
                              destroy_user_session_path,
                              method: :delete %>
                </li>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% unless user_signed_in? %>
  <div id="sign-in" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="signin" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">
                  &times;
          </button>
          <h4 class="modal-title">Iniciar sesión</h4>
        </div>
        <div class="modal-body">
          <%= form_for @user, :as => :user, :namespace => 'sign_in', :url => session_path(@user) do |f| %>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <%= f.email_field :email,
                                  placeholder: 'Ingresa tu e-mail',
                                  class: 'form-control',
                                  required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <%= f.password_field :password,
                                     placeholder: 'Ingresa tu contraseña',
                                     class: 'form-control',
                                     required: true %>
              </div>
            </div>
            <div class="center-align-space-around">
              <%= f.submit 'Sign in', class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="sign-up" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="signup" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">
                  &times;
          </button>
          <h4 class="modal-title">Crear Cuenta</h4>
        </div>
        <div class="modal-body">
          <%= form_for @user, url: user_registration_path do |f| %>
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <%= f.text_field :first_name,
                                      placeholder: 'Ingresa tu nombre',
                                      class: 'form-control',
                                      required: true %>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user"></i>
                    </span>
                    <%= f.text_field :last_name,
                                      placeholder: 'Ingresa tu apellido',
                                      class: 'form-control',
                                      required: true %>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope"></i>
                </span>
                <%= f.email_field :email,
                                  placeholder: 'Ingresa tu e-mail',
                                  class: 'form-control',
                                  required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <%= f.password_field :password,
                                     placeholder: 'Ingresa tu contraseña',
                                     class: 'form-control',
                                     required: true %>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-key"></i>
                </span>
                <%= f.password_field :password_confirmation,
                                     placeholder: 'Repite tu contraseña',
                                     class: 'form-control',
                                     required: true %>
              </div>
            </div>
            <div class="center-align-space-around">
              <%= f.submit 'Sign up', class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
