<div class="jumbotron">
  <h1>
    Novedades constitucionales de hace
    <%= pluralize(@user.periodicity, "día") %>.
  </h1>
  <p>ParticipApp</p>
</div>

<% @contents.each do |content| %>
  <div>
    <h2><%= content.title %></h2>
    <h4>Publicada el <%= content.created_at.strftime("%d:%m:%y") %></h4>
    <h5>Categoría: <%= Category.find_by(id: content.category_id).name %></h5>
    <%= "#{content.body}".html_safe %>
  </div>
<% end %>
