<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" %>
  </head>
  <body class="container">
    <%= yield %>
  </body>
</html>
